* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.socials {
    display: flex;
}

.icon {
    width: 20rem;
    height: 20rem;
    fill:green;

}

.icon:hover {
    fill: blue;
}

/* .icon--facebook {
    background-image: url(../icon/facebook\ org.svg);
    fill: blue;
} */

