
.promo-title {
    font-size: 1.875rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-bottom: 1rem;
}

.promo-text {
    color: #fff;
    font-size: 1.125rem;
    font-weight: 100;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-bottom: 1.125rem;
}

.promo-button {
    display: block;
    font-size: 0.875rem;
    color: #fff;
    background-color: #ff4e50;
    border: none;
    padding: 0.875rem 3.125rem;
    border-radius: 20px;
    margin: auto;
}