@media (min-width: 670px) {
    .header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .menu {
        flex-basis: 20%;
    }

    .promo-title {
        font-size: 3.25rem;
    }

    .promo-text {
        font-size: 1.375rem;
    }

    .main {
        padding-bottom: 2.375rem;
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .gallery-element {
        flex-basis: 40%;
    }

    .gallery-element:nth-last-child(-n+2) {
        margin-bottom: 0;
    }

    .main-title {
        margin-bottom: 1.875rem;
    }
}