.video {
display: flex;
flex-direction: column;
align-items: center;
}

.video-icon {
display: block;
height: 6.25rem;
width: 6.25rem;
margin-bottom: 2rem;

}

.video-title {
font-size: 1rem;
color: #fff;
text-transform: uppercase;
font-family: "Roboto", sans-serif;
font-weight: 700;
letter-spacing: 2px;
}
