* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper-header {
    padding-top: 2.625rem;
    
    background-color: #fff;
}

.wrapper-main {
    background-color: #fff;
    padding-top: 7.375rem;
    padding-bottom: 7.375rem;
}

.wrapper-footer {
    background-color: #222;
    padding-top: 6.75rem;
    padding-bottom: 7.125rem;
    background-image: url(../img/Map\ Image.png);
    background-repeat: no-repeat;
    background-position: 105% 76%;
}



.container {
    margin: auto;
    width: 58.75rem;
}