* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* height: 2000px; */
}

.wrapper {
  width: 1110px;
  margin: auto;

}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  
  
  padding: 20px;
  background: linear-gradient(to right, red, green);
  
  
}

.logo {
  display: inline-block;

  height: 50px;
  width: 100px;

  background-image: url(../logo/barselona.png);
  background-size: cover;

}

.logo:hover {
  transform: rotate(360deg);
  transition: all 5s ease-out;
}

.menu {
  display: flex;
  
  list-style: none;

}

.menu-item {

  margin-right: 20px;
  font-size: 16px;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-link {
  text-decoration: none;
  text-transform: uppercase;
  color: yellow;
}

.menu-link:hover {
  border: 2px solid #fefefe;
  transition: all 0.5s ease-out;
  padding: 10px;
}

.promo {
  padding: 100px 0;
  background-image: url(../logo/nature.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

.promo-article {
  width: 600px;
  margin: auto;
}

.promo-title {
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 16px;
}

.promo-text {
  color: #fff;
  margin-bottom: 16px;

}

.line-second {
  outline: 4px solid #1abc9c;
  width: 164px;
  margin-left: 467px;
  margin-bottom: 78px;
}

.section {
  background-color: #3498DB;
  
  padding-bottom: 40px;


}

.section-title {
  font-size: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.section-body {
  display: flex;
  justify-content: space-between;
}

.body-article {
padding-top: 40px;
  background-color: green;
  color: white;
}

.article {

  flex-basis: 32%;




}

.article:last-child {
  margin-right: 0;
}

.article-img {
  width: 100%;
  height: 260px;
  margin-bottom: 12px;
}

.article-title {

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 26px;
}

.line-third {
  outline: 1px solid #1abc9c;
  width: 135px;
  margin-bottom: 28px;
}

.article-text {

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 17px;
  font-size: 14px;

}

.button {
  color: white;
  background-color: #1abc9c;
  padding: 18px 41px;
  font-size: 16px;
  transition: all 0.5s ease-out;
  border: none;
}

.button:hover {
  padding-left: 30px;
  padding-right: 30px;
  background-color: var(--accent-color);
  text-shadow: 0 0 5px white;
  transition: all 0.5s ease-out;
}

.body-figure {
  position: relative;
  margin-bottom: 102px;

}

.all-figure {
  display: flex;
  


}

.figure {
  display: flex;
  position: relative;

  
  
  flex-wrap: wrap;
}

.figure:hover .figure-socials {
  display: block;
}

.figure-socials {
  display: none;
  position: absolute;

  opacity: 0.5;
  background-color: yellow;



}

.icon {

  display: inline-block;

  height: 50px;
  width: 50px;
  background-color: #fff;
  background-size: 20%;
  background-size: cover;
}

.icon-facebook {
  background-image: url(../icon/icon-facebook.png);
  background-size: cover;
}

.icon-linkedin {
  background-image: url(../icon/icon-linkedin.png);
  background-size: cover;
}

.icon-twitter {
  background-image: url(../icon/icon-twitter.png);
  background-size: cover;
}



.gallery-img {
 


  height: 280px;
}


.text {
  
  display: flex;


}


.worlds {
  flex-basis: 78%;

  background-color: #323232;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  padding: 12px 12px 12px;
  text-transform: uppercase;
}


.price {
  flex-basis: 22%;

  background-color: #8c8c8c;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  padding: 12px 10px 12px 10px;
}

.gallery-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fefefe;
  border: 1px solid #fefefe;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  text-align: center;
  margin-top: 20px;
}

.page-footer {
  padding: 80px 0;
}

.footer-socials {
  display: flex;
}

.footer-icon {
  display: block;
  height: 64px;
  width: 64px;
  
}

.bg-001_facebook {
  
  background: url('../icon/css_sprites.png') -10px -10px;
}


.bg-004_twitter_social_outlined_logo {
  
  background: url('../icon/css_sprites.png') -94px -10px;
}


.bg-005_linkedin_social_outline_logotype {
 
  background: url('../icon/css_sprites.png') -10px -94px;
}


.bg-006_google_plus {
  
  background: url('../icon/css_sprites.png') -94px -94px;
}