.box {
    height: 200px;
}

.box--pink {
    background-color: pink;
}

.box--darkpink {
    background-color: #c21858;
}

.box--lightblue {
    background-color: aqua;
}

.box--green {
    background-color: green;
}

.box--orange {
    background-color: orange;
}

.top-content,
.bottom-content,
.footer {
    margin-top: 2rem;
}

.footer [class*="col-"]:last-child {
margin-top: 1rem;
}


.top-content [class*="col-"],
.bottom-content [class*="col-"] {
    margin-top: 1rem;
}

.top-content [class*="col-"]:first-child,
.bottom-content [class*="col-"]:first-child {
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .top-content [class*="col-"] {
        margin-top: 1rem;
    }
    .footer [class*="col-"]:last-child {
        margin-top: 0rem;
        }
}