ul {
    list-style: none;
}

.input-label {
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding: 1rem;
}

label::before {
    display: block;
    content: "";
    background-color: red;
    width: 2rem;
    height: 2rem;
    border: 5px solid #333;
    margin-right: 0.5rem;
}

.check {
    display: none;
}

.check:checked + .input-label::before {
    background-color: green;
    background-image: url(https://image.flaticon.com/icons/svg/291/291200.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


