* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* font-size: 30px; */
}

.page {
  min-height: 100vh;
  background-color: #fefefe;
}

.wrapper {
  width: 960px;
  margin: auto;
  min-height: 100vh;
}

